body {
    background: url("images/background.png") no-repeat;
    background-position: center;
    background-size: 1000px;
    height: 900px;
    border-top: 10px solid #ccc;
}

h4 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.page_header {
    background: url("images/star.jpg");
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

li a {
    color: green;
}